<div class="l-container">
  <div class="auth-page">
    <div class="auth-page__inner">
      <h1 class="c-ttl-01">Sign In to <br> Explore Features</h1>
      <form action="">
        <div class="c-input-01">
          <input type="email" placeholder="Enter Email">
        </div>
        <div class="c-input-01">
          <input type="password" placeholder="Password">
        </div>
        <a class="auth-page__txt-right">Recover password ?</a>
        <button class="c-btn-01">Sign In</button>
      </form>
      <p class="c-txt auth-page__note">If you don't have an account, you can <a href="" class="c-link" routerLink="/register">Register here!</a></p>
    </div>
  </div>
</div>
