<div class="l-auth">
  <div class="l-container">
    <div class="auth-page">
      <div class="auth-page__inner">
        <h1 class="c-ttl-01">Sign Up to <br> Access exclusive features</h1>
        <form action="">
          <div class="c-input-01">
            <input type="email" placeholder="Enter Email">
          </div>
          <div class="c-input-01">
            <input type="text" placeholder="Full name">
          </div>
          <div class="c-input-01">
            <input type="password" placeholder="Password">
          </div>
          <div class="c-input-01">
            <input type="password" placeholder="Confirm password">
          </div>
          <button class="c-btn-01">Sign Up</button>
        </form>
        <p class="c-txt auth-page__note">If you have an account, you can <a href="" class="c-link" routerLink="/login">Login here!</a></p>
      </div>
    </div>
  </div>
</div>
